:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  max-width: 500px;
  gap: 200px;
}

.search-input {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.search-bar {
  padding: 7px 10px;
  font-size: 16px;
  border: 1px solid;
  background-color: #efefef;
  border-radius: 10px;
  border-color: #dbdbdb;
}
.filtered-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  list-style: none;
}
