.app {
  max-width: 368px;
  margin: 0 auto;
  gap: 20px;
}

.size-input-container {
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.title {
  color: #333;
  margin-bottom: 25px;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Styling the input field */
.size-input {
  padding: 15px 20px;
  width: calc(100% - 40px);
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1.1em;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  text-align: center;
}

.size-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.size-input::placeholder {
  color: #a0a0a0;
  font-style: italic;
}

/* Optional: to hide the up/down arrows on some browsers for the number input */
/* For Chrome, Safari, Edge, Opera */
.size-input::-webkit-outer-spin-button,
.size-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* For Firefox */
.size-input[type="number"] {
  -moz-appearance: textfield;
}

.input-info {
  margin-top: 15px;
  color: #666;
  font-size: 0.9em;
}

.grid-container {
  display: grid;
}

.cell {
  display: flex;
  border: 1px solid #ccc;
  background-color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: min(48px, 10vw);
  cursor: pointer;
  aspect-ratio: 1;
}
